<a href="https://colab.research.google.com/github/Mzamor71/CSCI_3340-Project/blob/main/CSCI4333_db_SQL_HW8_9_Fall25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

In [ ]:
connection = sqlite3.connect('CSCI4333.db')

In [ ]:
cur = connection.cursor()

In [ ]:
statement = '''
CREATE TABLE Sailors (
     sid text,
     sname text,
     rating int,
     age real,
     primary key (sid)
);
'''

cur.execute(statement)

statement = '''
CREATE TABLE Boats (
     bid text,
     bname text,
     color text,
     primary key (bid)
);
'''

cur.execute(statement)

statement = '''
CREATE TABLE Reserves (
     sid text,
     bid text,
     day date,
     primary key (sid, bid),
     foreign key (sid) references Sailors(sid),
     foreign key (bid) references Boats(bid)
);
'''

cur.execute(statement)

statement = '''
INSERT INTO Sailors VALUES ('22','Dustin',7,45)
'''
cur.execute(statement)

cur.execute("INSERT INTO Sailors VALUES ('29','Brutus',1,33)")
cur.execute("INSERT INTO Sailors VALUES ('31','Lubber',8,55.5)")
cur.execute("INSERT INTO Sailors VALUES ('32','Andy',8,25.5)")
cur.execute("INSERT INTO Sailors VALUES ('58','Rusty',10,35)")
cur.execute("INSERT INTO Sailors VALUES ('64','Horatio',7,35)")
cur.execute("INSERT INTO Sailors VALUES ('71','Zorba',10,16)")
cur.execute("INSERT INTO Sailors VALUES ('74','Horatio',9,35)")
cur.execute("INSERT INTO Sailors VALUES ('85','Art',3,25.5)")
cur.execute("INSERT INTO Sailors VALUES ('95','Bob',3,63.5)")


cur.execute("INSERT INTO Boats VALUES ('101','Interlake','blue')")
cur.execute("INSERT INTO Boats VALUES ('102','Interlake','red')")
cur.execute("INSERT INTO Boats VALUES ('103','Clipper','green')")
cur.execute("INSERT INTO Boats VALUES ('104','Marine','red')")

cur.execute("INSERT INTO Reserves VALUES ('71','101','10/10/04')")
cur.execute("INSERT INTO Reserves VALUES ('22','102','10/10/04')")
cur.execute("INSERT INTO Reserves VALUES ('31','102','11/10/04')")
cur.execute("INSERT INTO Reserves VALUES ('31','103','11/06/04')")
cur.execute("INSERT INTO Reserves VALUES ('22','103','10/08/04')")
cur.execute("INSERT INTO Reserves VALUES ('22','104','10/07/04')")
cur.execute("INSERT INTO Reserves VALUES ('31','104','11/12/04')")
cur.execute("INSERT INTO Reserves VALUES ('58','101','09/05/04')")
cur.execute("INSERT INTO Reserves VALUES ('64','102','09/08/04')")
cur.execute("INSERT INTO Reserves VALUES ('74','103','09/08/04')")
cur.execute("INSERT INTO Reserves VALUES ('95','103','09/08/04')")

Q1: Find all the sailors whose age is greater than 7 and reserves a green boat

In [ ]:
statement = '''

'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]

print(relational_schema)
print('------------')
for x in res:
    print(x)

Q2: Find all the sailors who reserved all boats in the database

In [ ]:
statement = '''

'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]

print(relational_schema)
print('------------')
for x in res:
    print(x)

Q3: Find the boat which is reserved by ALL the sailor whose rating is 10

In [ ]:
statement = '''

'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]

print(relational_schema)
print('------------')
for x in res:
    print(x)

Q4: Find boats (bname) which is reserved by oldest sailor

In [ ]:
statement = '''

'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]

print(relational_schema)
print('------------')
for x in res:
    print(x)